name: End-to-end tests
on: push
jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Cypress --run
        uses: cypress-io/github-action@v6
        with:
          record: true
          parallel: true
          group: 'CI/CD Pipeline'
          command: npm run test:cloud